.v-avatar .v-icon, .v-avatar img {
    border: 1px solid #e6e9ed;
}

.avatar__list {
    width: 140px;
}

.avatar_list-item {
    margin-left: 9%;
}

.v-avatar {
    height: 40px!important;
    width: 80px!important;
}

.avatar__span {
    margin-right: 11%;
}