.action__button {
    &-save {
        background-color: #4687df!important;
        color: #ffffff;
        font-weight: 600;
        border-radius: 5px;
    }
    &-icon {
        margin-right: 5%;
    }
}