%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

%flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
