.form__input {
    border: 1px solid #e6e9ed;
    width: auto;
    padding: 2.5%;    
    color: #656d78;
    @extend %borda-radius-padrao;
    &-div-custom {
        @extend %flex-start;        
        align-items: flex-start;
        flex-direction: column;
    }
    &-div-custom input {
        width: 100%;
    }
    &-label {
        color: #aab2bd;
        font-weight: 600;
    }
}