$gallery_backgrond: #e6e9ed;

.gallery {
   
    &__div {

    }
    &__card {
        padding: 2%;
    }
    &__title {
        color: #4687df;
        margin-bottom: 1%;
    }
    &__preview {
        margin: 1% 1% 1% 0;
        height: 150px;
        background-color: $gallery_backgrond;
        @extend %flex-center
    }
    &__dropbox {
        border: 5px dotted #e6e9ed;
        outline-offset: -10px;
        color: #e6e9ed;
        padding: 10px 10px;
        min-height: 200px;
        position: relative;
        cursor: pointer;
        @extend %flex-center
    }
    &__dropbox-input-file {
        opacity: 0;
        width: 100%;
        height: 200px;
        position: absolute;
        cursor: pointer;
    }
    &__dropbox:hover {
        background: lightblue;
    }
    &__dropbox-text {
        font-size: 32px;
        color: #e6e9ed;
        font-weight: 600;
        text-align: center;
    }
}

.dropzone .dz-message {
    margin: 6em!important;
}

.vue-dropzone {
    border: 5px dotted #e5e5e5!important;
}

@media screen and (max-width: 767px) {
    .gallery {
        &__preview {
            width: 45%;
            flex-wrap: wrap!important;
        }
        &__wrap {
            flex-wrap: wrap;
        }
    }
}