.list__table {
    & table {
        background: transparent!important;
    }
    & thead {
        background-color: transparent!important;
    }
    & thead tr {
        border-bottom: none!important;
        color: #abb3be!important;
        font-weight: 500!important;
        font-size: 13px!important;
    }
    & tbody tr {
        background-color: #ffffff;
        height: 90px;
        // margin-bottom: 1.5%;
        @extend %borda-radius-padrao
    }
    & tbody tr::before {
        height: 20px;
        margin-bottom: 2%;
    }
    & tbody tr td{
        font-size: 13px;
        font-weight: 500;
        color: #878d96;
    }
    &-name{
        font-size: 16px!important;
        font-weight: 600!important;
        color: #656d78;
        text-transform: uppercase;
    }
}

.table__actions {
    & i {
        margin-right: 20%;
    }
    &-item {
        margin-right: 10%;
        margin-left: 10%;
        text-decoration: none!important;
        color: #4687df !important;
    }
    &-item i {
        color: #4687df!important;
    }
}

table.v-table tbody td:first-child, table.v-table tbody td:not(:first-child), table.v-table tbody th:first-child, table.v-table tbody th:not(:first-child), table.v-table thead td:first-child, table.v-table thead td:not(:first-child), table.v-table thead th:first-child, table.v-table thead th:not(:first-child) {
    padding: 0 20px!important;
}